<% layout("layouts/boilerplate") %>
<br>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger text-center" role="alert">
            <h4 class="alert-heading">Oops! An error occurred.</h4>
            <p><%= message %> </p>
            <hr>
            <a href="/listings" class="btn btn-primary mt-3">Back to Listings</a>
        </div>
    </div>
</div>
